<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets'%>
    <%= render 'layouts/javascripts'%>    
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header'%>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>      
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
